* {
  margin: 0;
  font-family: monospace;
}
#register,
#signin {
  margin: 2% 2% 2% 2%;
  box-shadow: 0.2px 2px 16px
      rgb(236, 236, 236),
    -10px -10px 10px 0px
      rgb(255, 255, 255);
  width: 50vh;
  border-radius: 25px;
}
.dropdown-menu {
  border-radius: 100px;
  padding: 0 auto;
}
.dropdown-item:active {
  background: rgb(204, 204, 204);
  color: black;
}
#form_controls_register,
#form_control_forgot_password,
#form_controls_signin,
#header_form_control_input {
  box-shadow: 8px 8px 16px
      rgb(248, 248, 248) inset,
    -8px -8px 16px rgb(248, 248, 248)
      inset !important;
}
#form_controls_register_submit,
#form_controls_signin_submit,
#forgot_password_button,
#header_button {
  box-shadow: 2px 2px 5px
      rgb(219, 219, 219),
    -2px -2px 5px rgb(255, 255, 255);
}
#form_controls_register:focus,
#form_control_forgot_password:focus,
#form_controls_signin:focus,
#header_form_control_input:focus {
  border: 0.2px rgb(150, 21, 41) dashed !important;
}
#forgot_password_card {
  box-shadow: 0.2px 2px 16px
      rgb(236, 236, 236),
    -10px -10px 10px 0px
      rgb(255, 255, 255);
}
#header {
  box-shadow: 0 0.2px 106px 0px
    rgb(223, 223, 223);
}
.dropdown-toggle.nav-link::after {
  display: none !important;
}
#header_form_control {
  margin-left: 10%;
  width: 30%;
}
@media screen and (max-width: 63em) {
  #register {
    margin: 5% 0%;
  }
  #header_form_control {
    width: 100%;
    float: left;
    margin-left: 0%;
  }
}
